*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    margin: 2rem auto;
    background-color: red;
    max-width: 80%;
}

main{
    background-color: purple;
    padding: 1rem;
    height: 85vh;
}

.Linhas{
    display: flex;
}

.Caixa:not(:last-child){
    width: 24%;
    height: 7rem;
    background-color: red;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.Caixa:last-child{
    width: 24%;
    height: 7rem;
    background-color: red;
    margin-bottom: 1rem;
}
